@inject StateContainer state;
@inject IBillingService service
@inject IApplicationMessageService messageService

@page "/history"
@using CoastR.Model

<div style="height:100%; overflow-y:scroll" name="historycontent">
    @if (_model.Any())
    {
        <MudTabs Elevation="5" Rounded="true" ApplyEffectsToContainer="true">
            <MudTabPanel Text="nach Datum">
                <MudExpansionPanels MultiExpansion="true" Elevation="5">
                    @foreach (var Item in _byDate)
                    {
                        <MudExpansionPanel>
                            <TitleContent>
                                <div class="expansion-panel-header-2-grid">
                                    <MudText>
                                        @Item.Key.ToString("dd.MM.yyyy")
                                    </MudText>
                                    <MudText>
                                        @Item.Value.Sum(it => it.Sum).ToString("C")
                                    </MudText>
                                </div>
                            </TitleContent>
                            <ChildContent>
                                <MudExpansionPanels MultiExpansion="false" Elevation="5">
                                    @foreach (var modelItem in Item.Value)
                                    {
                                        <MudExpansionPanel>
                                            <TitleContent>
                                                <div class="expansion-panel-header-2-grid">
                                                    <MudText>
                                                        @modelItem.VenueName
                                                    </MudText>
                                                    <MudText>
                                                        @string.Format("{0:C}", modelItem.Sum)
                                                    </MudText>
                                                </div>
                                            </TitleContent>
                                            <ChildContent>
                                                <MudDataGrid Items="@modelItem.Items" Filterable="false" SortMode="@SortMode.None" Groupable="false" FixedHeader="true" Height="100%">
                                                    <NoRecordsContent>
                                                        @AppMessages.MSG_NO_DATA
                                                    </NoRecordsContent>
                                                    <Columns>
                                                        <PropertyColumn Property="x => x.Name" Title="Name" />
                                                        <PropertyColumn Property="x => x.Count" Title="Menge" />
                                                        <PropertyColumn Property="x => x.Price" Title="Preis" Format="C" />
                                                        <PropertyColumn Property="x => x.Sum" Title="Summe" Format="C" />
                                                    </Columns>
                                                </MudDataGrid>
                                            </ChildContent>
                                        </MudExpansionPanel>
                                    }
                                </MudExpansionPanels>
                            </ChildContent>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudTabPanel>
            <MudTabPanel Text="nach Ort">
                <MudExpansionPanels MultiExpansion="true" Elevation="5">
                    @foreach (var Item in _byName)
                    {
                        <MudExpansionPanel Text="@Item.Key">
                            <TitleContent>
                                <div class="expansion-panel-header-2-grid">
                                    <MudText>
                                        @Item.Key
                                    </MudText>
                                    <MudText>
                                        @Item.Value.Sum(it => it.Sum).ToString("C")
                                    </MudText>
                                </div>
                            </TitleContent>
                            <ChildContent>
                                <MudExpansionPanels MultiExpansion="false" Elevation="5">
                                    @foreach (var modelItem in Item.Value)
                                    {
                                        var sum = modelItem.Items.Sum(it => it.Price);
                                        <MudExpansionPanel>
                                            <TitleContent>
                                                <div class="expansion-panel-header-2-grid">
                                                    <MudText>
                                                        @modelItem.Updated.ToString()
                                                    </MudText>
                                                    <MudText>
                                                        @string.Format("{0:C}", sum)
                                                    </MudText>
                                                </div>
                                            </TitleContent>
                                            <ChildContent>
                                                <MudDataGrid Items="@modelItem.Items" Filterable="false" SortMode="@SortMode.None" Groupable="false" FixedHeader="true" Height="100%">
                                                    <NoRecordsContent>
                                                        @AppMessages.MSG_NO_DATA
                                                    </NoRecordsContent>
                                                    <Columns>
                                                        <PropertyColumn Property="x => x.Name" Title="Name" />
                                                        <PropertyColumn Property="x => x.Count" Title="Menge" />
                                                        <PropertyColumn Property="x => x.Price" Title="Preis" Format="C" />
                                                        <PropertyColumn Property="x => x.Sum" Title="Summe" Format="C" />
                                                    </Columns>
                                                </MudDataGrid>
                                            </ChildContent>
                                        </MudExpansionPanel>
                                    }
                                </MudExpansionPanels>
                            </ChildContent>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudTabPanel>
        </MudTabs>
    }
</div>

@code {
    private List<Bill> _model { get; set; } = new List<Bill>();
    private IDictionary<string, List<Bill>> _byName = null;
    private IDictionary<DateTime, List<Bill>> _byDate = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        state.HeaderText = "Historie";
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // todo
        _model = await service.GetAllAsync();
        if (!_model.Any())
        {
            state.Messages.Add(messageService.CreateMessage(ApplicationMessageCode.MSG_NO_DATA, ApplicationMessageType.INFO));
            return;
        }

        _byName = _model.GroupBy(it => it.VenueName).ToDictionary(group => group.Key, group => group.ToList());
        _byDate = _model.GroupBy(it => it.Updated.Date).ToDictionary(group => group.Key, group => group.ToList());
    }
}
