@page "/venues"
@inject IVenueService service
@inject StateContainer state;

<div style="height:100%; overflow-y:scroll">
    <MudExpansionPanels MultiExpansion="false" Elevation="5">
        @foreach (var modelItem in _model)
        {
            <MudExpansionPanel>
                <TitleContent>
                    @{
                        var linkTarget = $"/editVenue/{modelItem.Id}";
                    }
                    <div class="expansion-panel-header-3-grid">
                        <MudText>
                            @modelItem.Name
                        </MudText>   
                        <div/>
                        <MudIconButton Size="@Size.Medium" Variant="@Variant.Filled" Color="@Color.Primary" Icon="fa-solid fa-pen" Href="@linkTarget" />
                    </div>
                </TitleContent>
                <ChildContent>
                    <MenueComponent Model="modelItem.Menu" ReadOnly="true" />
                </ChildContent>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
</div>

@code {

    private IList<Venue> _model { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        state.HeaderText = "Orte";

        _model = service.GetAll();
    }

}
